<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>539559818790-c70r0m5qqfm6do1tjloogmi8ck6m7vte.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.539559818790-c70r0m5qqfm6do1tjloogmi8ck6m7vte</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>539559818790-n4eemgobrt3efejvrb1r6v40pu2cv48p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDI958ZEGZsjGPF980K0TFgzfWR_pemEx4</string>
	<key>GCM_SENDER_ID</key>
	<string>539559818790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.outvibe.stepchef</string>
	<key>PROJECT_ID</key>
	<string>recipeapp-bcf8a</string>
	<key>STORAGE_BUCKET</key>
	<string>recipeapp-bcf8a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:539559818790:ios:1f3c6d7afdb9f898b198e7</string>
</dict>
</plist>